 * {
    box-sizing: border-box;
    
     } 



.topps {
    display: flex;
    flex-direction: row;
    background-color:blue;
    border-width: 5px;
    width: 100%;
}

main {
/* margin-left:  auto;
margin-right: auto; */
}

#about-me-container{
  display: flex;
  flex-direction: row;
  /* width:100%; */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 25px 0;
  padding: 10px 50px; 

}

#aboutme{
  flex: 0 0 20%;
  /* text-align: center;  */
  float:left;
  border-right: 3px solid black;
  /* width: 50%; */
  padding-right: 20px;

}
.jjb07{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.apple p{
flex:0 0 75%;
padding: 25px;

}
#profilepic{
  height: 400px;
  width: 50%;
  
}

h2{
  height: 100px;

}

 .navbar li{
    display: inline;
    list-style-type: none;
    padding-left: 125px;
    padding-top: 25px; 

 } 

.prework{
  display: flex;
  align-items: flex-end;
  border: 5px solid black;
}

.jjb07 li{
  list-style-type: none;
}

.jjb07:first-child{
  min-height: 350px;
  flex-basis: 100%;
}

footer a{
    color: white;
    padding-right: 50px;
}

footer {
    padding: 5px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  
   @media screen and (max-width: 1080px){
    .topps{
      background-color: limegreen;
      flex-direction: column;
    
    } 
     .navbar {
       display:flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content:left;
      
      /* this is where you left off  */

      
      
    }
    /* nav,footer {
      background-color: #bb8588; 
   }  */
  }
   @media screen and (max-width: 768px) {


   }


   @media screen and (max-width: 640px) {
    header, body, footer {
      flex-direction: column;
    } 
   }