 * {
    box-sizing: border-box;
     } 

.topps {
    background-color:blue;
    border-width: 5px;
    width: 100%;
}

nav ul li{
    list-style-type: none;
    
}


.profilepic{
    height: 500px;
}

footer a{
    color: white;
    padding-right: 50px;
}

footer {
    padding: 5px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  
  /* @media screen and (max-width: 768px) { */
    /* Use flex-direction to stack the navbar, sidebar, and body */
    /* main,
    nav {
      flex-direction: column;
    } */
    /* Make the sidebar stack below the body */
    /* aside {
      order: 2;
    } */
    /* Change the header background */
    /* header {
      background: #772014;
    } */
    /* Change the navbar and footer background */
    /* nav,
    footer {
      background-color: #bb8588; */
  /* }  */