 * {
    box-sizing: border-box;
    
     } 


header {
  border: darkslategray;
  border-width: 20px;
}
.topps {
    display: flex;
    flex-direction: row;
    background-color:blue; 
    border-width: 5px;
    width: 100%;
    
}

header.topps{
  border:white solid 5px;
  border-radius: 25px;
}

h1 {
  padding-left: 25px;
}

body {
background-color: darkgrey;
}

.navbar li {
  display: inline;
  list-style-type: none;
  padding-left: 125px;
  padding-top: 25px; 

} 
.navbar a{
 color: blue;
 background-color: lightslategray;
 border:white solid 5px;
 border-radius: 25px;
}

.navbar a:hover{
 border: Red solid 5px;
}

.about-me-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:flex-start;
  right: 10px;
  margin: 25px 0;
  padding: 10px 90px; 

}

#aboutme{
  flex: 0 0 15%;
  border-right: 3px solid black;
  margin-right: 35px;
}

.apple p{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-right: 5px;
}

img{
  border:white solid 20px;
  margin-right: 25px;
}

#profilepic{
  height: 400px;
}
#mywork{
  flex: 0 0 15%;
  border-right: 3px solid black;
}

.jjb07{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.jjb07 li:hover{
  border:blue solid 5px;
  border-style: groove;
}



h2{
  height: 100px;

}

.prework{
  display: flex;
  align-items: flex-end;
  border: 5px solid black;
  
}

.jjb07 li{
  list-style-type: none;
}

.jjb07:first-child{
  min-height: 25px;
  flex-basis: 50%;
}

.dropdown {
  position: relative;
  display:inline-block;
 }

 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 }

 .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
 background-color: #ddd;}

.dropdown:hover .dropdown-content {
display: block;}

footer a{
    color: white;
    padding-right: 50px;
}

footer {
    padding: 5px;
    text-align: center;
    background: #13293d;
    color: #fff;
    text-decoration: underline;
  }
  
   @media screen and (min-width: 769px) and (max-width: 1080px){
    .topps{
      display: flex;
      background-color: limegreen;
      flex-direction: column;
      
    
    }  
     .jjb07 {
       display:flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content:center;
      
    }
  } 
   
  
   @media screen and (min-width: 641px) and (max-width: 768px) {

    .topps {
      width: 100%;
 
    }

  
    .topps nav ul {
      display:inline-block;
      position: fixed;
      margin-top: 30px;
      padding-left: 0;
      height: 100px;
 
    }

    .topps nav ul li{
      padding: 5px;
      padding-right: 15px;
    
 
    }

    .about-me-container {
      position: relative;
      display: block;
     
    } 
    
    main img {
      margin-left: 100px;
      margin-top: 50px;
    }

    .about-me-container {
      position: relative;
      display: block;
     
    } 
    
    main img {
      margin-left: 100px;
      margin-top: 50px;
    }

    .jjb07 {
      padding-right: 200px;
    }


   } 


    @media screen and (min-width: 481px) and ( max-width: 640px) {
    body {
    background-color: teal;
    width: 100%;
    } 


    .topps {
      display: inline-block;
      height: 325px;
      width: 100%;
    
    } 

    .topps nav {
      display: inline-block;
      height: 200px;
      margin-right: 300px;
      
    } 

    .topps nav ul li a{
      display: inline-block;
      padding: 20px;
      width: 450px;
    }  

    header nav {
      position: relative;
      right: 150px;
      text-align: center;
     
    }  

    .about-me-container {
      position: relative;
      display: block;
     
    } 
    
    main img {
      margin-left: 100px;
      margin-top: 50px;
    }

    footer {
      background-color: coral;
      padding-left: 50px;
      height: 150px;
      display: inline-block;
    }

    footer a {
      display: inline-block;
      padding: 10px;
    }

   }  
   
   @media screen and (max-width: 480px) {
    
    .topps nav ul li {
      display: inline-block;
      padding: 20px;
      width: 200px;
      
    } 

    .topps {
      display: flexbox;
    } 

    .topps nav {
      height: 200px;
      margin-right: 300px;
      
    } 

    .topps nav ul li a{
      width: 100px;
      margin: -5px;
      background-color: limegreen;
    }    

    header nav {
      position: relative;
      text-align: center;
     
    }  

    .about-me-container {
      position: relative;
      display: block;
     
    } 
    
    main img {
      margin-top: 50px;
    }

    footer {
      background-color: coral;
      padding-left: 50px;
      height: 150px;
      display: inline-block;
    }

    footer a {
      display: inline-block;
      padding: 10px;
    }
  } 
      
    
   


   