 * {
    box-sizing: border-box;
    
     } 


header {
  border: darkslategray;
  border-width: 20px;
}
.topps {
    display: flex;
    flex-direction: row;
    background-color:blue; 
    border-width: 5px;
    width: 100%;
    
}

header.topps{
  border:white solid 5px;
  border-radius: 25px;
}
h1{
  padding-left: 25px;
}

body {
background-color: darkgrey;
}

.about-me-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:flex-start;
  right: 20px;
  margin: 25px 0;
  padding: 10px 50px; 

}

#aboutme{
  flex: 0 0 15%;
  border-right: 3px solid black;
  margin-right: 35px;
  
  

}
.apple p{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img{
  border:white solid 20px;
  
}
#mywork{
  flex: 0 0 15%;
  border-right: 3px solid black;
  
  
}

.jjb07{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.jjb07 li:hover{
  border:blue solid 5px;
  border-style: groove;
}

#profilepic{
  height: 400px;
}

h2{
  height: 100px;

}

 .navbar li {
    display: inline;
    list-style-type: none;
    padding-left: 125px;
    padding-top: 25px; 

 } 
 .navbar a{
   color: blue;
   background-color: lightslategray;
   border:white solid 5px;
   border-radius: 25px;
 }

 .navbar a:hover{
   border: Red solid 5px;
 }

 

.prework{
  display: flex;
  align-items: flex-end;
  border: 5px solid black;
  
}

.jjb07 li{
  list-style-type: none;
}

.jjb07:first-child{
  min-height: 350px;
  flex-basis: 100%;
}

footer a{
    color: white;
    padding-right: 50px;
}

footer {
    padding: 5px;
    text-align: center;
    background: #13293d;
    color: #fff;
    text-decoration: underline;
  }
  
   @media screen and (max-width: 1080px){
    .topps{
      background-color: limegreen;
      flex-direction: column;
    
    } 
     .jjb07 {
       display:flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content:center;
      
    }
   
  }
   @media screen and (max-width: 768px) {
body {
  background-color: yellow;
}

   }


   @media screen and (max-width: 640px) {
    header, body, footer {
      flex-direction: column;
      background-color: teal;
    } 
   }